<div class="portfolio">
   <h2>Portfolio</h2>
    <ul>
        <li>
            <figure>
                <img src="img/money.jpg" alt="Money Time">
            </figure>
            <figcaption>Money Time</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/money1.jpg" alt="Make it Money">
            </figure>
            <figcaption>Make it Money</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/f1.jpg" alt="Food is power">
            </figure>
            <figcaption>Food it power</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/f2.jpg" alt="The GMO food">
            </figure>
            <figcaption>The GMO food</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/w1.jpg" alt="The world">
            </figure>
            <figcaption>The  World In 2100</figcaption>
        </li>
        <li>
            <figure>
                <img src="img/w2.jpg" alt="The big world">
            </figure>
            <figcaption>The  Big  World</figcaption>
        </li>
    </ul>
</div>
